<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
<h1>Product Details</h1>
<form action="#" th:object="${product}" method="POST"
      th:action="@{/products/saveProduct}" class="form-horizontal">

    <div class="form-group">
        <label for="name" class="control-label col-xs-2">Product Name</label>
        <div class="col-xs-2">
            <input type="text" class="form-control" id="name"
                   th:field="*{name}" placeholder="Text from product name"
                   style="width: 10em;" />
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="control-label col-xs-2">Product Description</label>
        <div class="col-xs-2">
            <input type="text" class="form-control" id="description"
                   th:field="*{description}" placeholder="Text from product description"
                   style="width: 10em;" />
        </div>
    </div>
    <div class="form-group">
        <label for="price" class="control-label col-xs-2">Product Price</label>
        <div class="col-xs-2">
            <input type="text" class="form-control" id="price"
                   th:field="*{price}" placeholder="Text from product price"
                   style="width: 10em;" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2">
            <input type="submit" value="Save"/>
        </div>
    </div>
    <input type="hidden" th:field="*{id}"/>
</form>

    <div style="height: 2cm">&nbsp;</div>

    <div style="text-align: right">
        Options: <a th:href="@{/}">Home</a> | <a
            th:href="@{/products/search}">Product Search</a> | <a
            th:href="@{/products}">Products</a>
    </div>


<div th:replace="footer :: copy"></div>
</body>
</html>
