<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

	<h1>Microservices Demo - Web Server</h1>
	<h3>Overview</h3>

	<h3>The Demo</h3>

	<ul class="openlist">
		<li>Eureka Dashboard: <a
			href="http://localhost:1111">http://localhost:1111</a></li>
		<li>Check applications registered: <a
			href="http://localhost:1111/eureka/apps/">http://localhost:1111/eureka/apps/</a></li>

		<li>Fetch account #123456789: <a th:href="@{/accounts/123456789}">/accounts/123456789</a></li>
		<li>Fetch product #123456789: <a th:href="@{/products/123456789}">/products/123456789</a></li>

		<li>Fetch by name: <a th:href="@{/accounts/owner/Keri}">/accounts/owner/Keri</a></li>
		<li>Search product by name: <a th:href="@{/accounts/find/1}">/accounts/find/1</a></li>

		<li>Account <a th:href="@{/accounts/search}">Search</a></li>
		<li>Product <a th:href="@{/products/search}">Search</a></li>
	</ul>


	<div th:replace="footer :: copy"></div>

</body>
</html>
