<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>Products by Id</h1>
	<div th:if="not ${products}" class="error">
		No products found containing '<span th:text="${search}">text</span>'.
		<div style="height: 2cm">&nbsp;</div>
	</div>

	<div th:if="${products}">
		<p>
			Products whose owner contains ' <span th:text="${search}">text</span>'
			are:
		</p>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Product Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>Price</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="product : ${products}">
					<td><a href="product.html"
						th:href="@{|/products/${product.id}|}"
						th:text="|${product.id}|">1</a></td>
					<td th:text="${product.name}">Name</td>
					<td th:text="${product.description}">Desc</td>
					<td th:text="${product.price}">0</td>
					<td><a th:href="@{|/products/edit/${product.id}|}">Edit</a></td>
					<td><a th:href="@{|/products/remove/${product.id}|}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div style="text-align: right">
		Options: <a th:href="@{/}">Home</a> | <a
			th:href="@{/products/search}">Products Search</a>
	</div>

	<div th:replace="footer :: copy"></div>
</body>
</html>
