<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>Product Details</h1>

	<dl class="dl-horizontal">
		<dt>ID</dt>
		<dd th:text="${product.id}">number</dd>
		<dt>Name</dt>
		<dd th:text="${product.name}">name</dd>
		<dt>Description</dt>
		<dd th:text="${product.description}">name</dd>
		<dt>Price</dt>
		<dd th:text="${product.price}">number</dd>
	</dl>

	<div style="height: 2cm">&nbsp;</div>

	<div style="text-align: right">
		Options: <a th:href="@{/}">Home</a> | <a
			th:href="@{/products/search}">Product Search</a>
	</div>

	<div th:replace="footer :: copy"></div>
</body>
</html>
